In [5]:
# IMPORTAÇÃO DAS BIBLIOTECAS NECESSÁRIAS PARA O PROJETO
import csv
import pandas as pd
import json
from tabulate import tabulate
import sqlite3

1 - Crie uma base de dados em um arquivo .csv com seguintes itens: [id, nome, idade, cidade_nascimento, estado_nascimento, escolaridade, num_filhos, num_celulares].

Povoe o arquivo com, pelo menos, 20 registros, contendo nomes que se repitam, com valores diversos para os demais campos.

In [6]:
# CRIAÇÃO DOS DADOS E ESTRUTURA CSV DESSAS INFORMAÇÕES

pessoas = [
    {'id': '1', 'nome': 'Ana Costa', 'idade': '30', 'cidade_nascimento': 'Sao Paulo', 'estado_nascimento': 'SP', 'escolaridade': 'Superior Completo', 'num_filhos': '2', 'num_celulares': '(11) 91234-5678'},
    {'id': '2', 'nome': 'Carlos Souza', 'idade': '45', 'cidade_nascimento': 'Rio de Janeiro', 'estado_nascimento': 'RJ', 'escolaridade': 'Mestrado', 'num_filhos': '1', 'num_celulares': '(21) 92345-6789'},
    {'id': '3', 'nome': 'Julia Lima', 'idade': '28', 'cidade_nascimento': 'Curitiba', 'estado_nascimento': 'PR', 'escolaridade': 'Doutorado', 'num_filhos': '0', 'num_celulares': '(31) 93456-7890'},
    {'id': '4', 'nome': 'Lucas Pereira', 'idade': '35', 'cidade_nascimento': 'Belo Horizonte', 'estado_nascimento': 'MG', 'escolaridade': 'Superior Completo', 'num_filhos': '3', 'num_celulares': '(41) 94567-8901'},
    {'id': '5', 'nome': 'Fernanda Almeida', 'idade': '40', 'cidade_nascimento': 'Porto Alegre', 'estado_nascimento': 'RS', 'escolaridade': 'Superior Incompleto', 'num_filhos': '2', 'num_celulares': '(51) 95678-9012'},
    {'id': '6', 'nome': 'Bruno Fernandes', 'idade': '25', 'cidade_nascimento': 'Fortaleza', 'estado_nascimento': 'CE', 'escolaridade': 'Medio Completo', 'num_filhos': '0', 'num_celulares': '(61) 96789-0123'},
    {'id': '7', 'nome': 'Renata Dias', 'idade': '29', 'cidade_nascimento': 'Salvador', 'estado_nascimento': 'BA', 'escolaridade': 'Superior Completo', 'num_filhos': '1', 'num_celulares': '(71) 97890-1234'},
    {'id': '8', 'nome': 'Renata Mello', 'idade': '33', 'cidade_nascimento': 'Brasilia', 'estado_nascimento': 'DF', 'escolaridade': 'Superior Completo', 'num_filhos': '2', 'num_celulares': '(81) 98901-2345'},
    {'id': '9', 'nome': 'Ana Souza', 'idade': '26', 'cidade_nascimento': 'Manaus', 'estado_nascimento': 'AM', 'escolaridade': 'Superior Completo', 'num_filhos': '0', 'num_celulares': '(91) 99012-3456'},
    {'id': '10', 'nome': 'Carlos Bezerra', 'idade': '32', 'cidade_nascimento': 'Recife', 'estado_nascimento': 'PE', 'escolaridade': 'Superior Incompleto', 'num_filhos': '1', 'num_celulares': '(11) 90123-4567'},
    {'id': '11', 'nome': 'Julia Lourez', 'idade': '27', 'cidade_nascimento': 'Natal', 'estado_nascimento': 'RN', 'escolaridade': 'Medio Completo', 'num_filhos': '0', 'num_celulares': '(21) 91234-5678'},
    {'id': '12', 'nome': 'Luiz Pereira', 'idade': '31', 'cidade_nascimento': 'Campo Grande', 'estado_nascimento': 'MS', 'escolaridade': 'Medio Completo', 'num_filhos': '1', 'num_celulares': '(31) 92345-6789'},
    {'id': '13', 'nome': 'Fernando Almeida', 'idade': '38', 'cidade_nascimento': 'Belem', 'estado_nascimento': 'PA', 'escolaridade': 'Doutorado', 'num_filhos': '3', 'num_celulares': '(41) 93456-7890'},
    {'id': '14', 'nome': 'Bruno Guimaraes', 'idade': '23', 'cidade_nascimento': 'Joao Pessoa', 'estado_nascimento': 'PB', 'escolaridade': 'Superior Incompleto', 'num_filhos': '0', 'num_celulares': '(51) 94567-8901'},
    {'id': '15', 'nome': 'Renata Dantas', 'idade': '36', 'cidade_nascimento': 'Sao Luis', 'estado_nascimento': 'MA', 'escolaridade': 'Mestrado', 'num_filhos': '2', 'num_celulares': '(71) 96789-0123'},
    {'id': '16', 'nome': 'Renato Mello', 'idade': '34', 'cidade_nascimento': 'Maceio', 'estado_nascimento': 'AL', 'escolaridade': 'Superior Completo', 'num_filhos': '1', 'num_celulares': '(81) 97890-1234'},
    {'id': '17', 'nome': 'Ana Maria Cabral', 'idade': '42', 'cidade_nascimento': 'Teresina', 'estado_nascimento': 'PI', 'escolaridade': 'Medio Completo', 'num_filhos': '2', 'num_celulares': '(91) 98901-2345'},
    {'id': '18', 'nome': 'Carlotta Luz', 'idade': '28', 'cidade_nascimento': 'Aracaju', 'estado_nascimento': 'SE', 'escolaridade': 'Superior Completo', 'num_filhos': '0', 'num_celulares': '(11) 99012-3456'},
    {'id': '19', 'nome': 'Julio Dantas', 'idade': '41', 'cidade_nascimento': 'Cuiaba', 'estado_nascimento': 'MT', 'escolaridade': 'Medio Completo', 'num_filhos': '3', 'num_celulares': '(21) 90123-4567'},
    {'id': '20', 'nome': 'Luca Lessa', 'idade': '37', 'cidade_nascimento': 'Florianopolis', 'estado_nascimento': 'SC', 'escolaridade': 'Doutorado', 'num_filhos': '2', 'num_celulares': '(61) 95678-9012'}
]

with open('base_pessoas.csv', 'w', newline='') as csvfile:
    fieldnames = ['id', 'nome', 'idade', 'cidade_nascimento', 'estado_nascimento', 'escolaridade', 'num_filhos', 'num_celulares']
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)

    writer.writeheader()
    writer.writerows(pessoas)

2 - Crie uma funçao que carregue a base de dados com a biblioteca Pandas, recebendo como parâmetro um arquivo .csv e retornando um dataframe pandas.

In [7]:
def carregar_base_dados(nome_arquivo):
    ''' Função responsável pela criação do dataframe contendo os dados do arquivo .csv'''
    try:
        dataframe = pd.read_csv(nome_arquivo, dtype={'id': str})
        return dataframe
    except Exception as e:
        print(f"Ocorreu um erro ao carregar o arquivo: {e}")
        return None

df = carregar_base_dados('base_pessoas.csv')
print(df)

    id              nome  idade cidade_nascimento estado_nascimento  \
0    1         Ana Costa     30         Sao Paulo                SP
1    2      Carlos Souza     45    Rio de Janeiro                RJ
2    3        Julia Lima     28          Curitiba                PR
3    4     Lucas Pereira     35    Belo Horizonte                MG
4    5  Fernanda Almeida     40      Porto Alegre                RS
5    6   Bruno Fernandes     25         Fortaleza                CE
6    7       Renata Dias     29          Salvador                BA
7    8      Renata Mello     33          Brasilia                DF
8    9         Ana Souza     26            Manaus                AM
9   10    Carlos Bezerra     32            Recife                PE
10  11      Julia Lourez     27             Natal                RN
11  12      Luiz Pereira     31      Campo Grande                MS
12  13  Fernando Almeida     38             Belem                PA
13  14   Bruno Guimaraes     23       Joao Pessoa                PB
14  15     Renata Dantas     36          Sao Luis                MA
15  16      Renato Mello     34            Maceio                AL
16  17  Ana Maria Cabral     42          Teresina                PI
17  18      Carlotta Luz     28           Aracaju                SE
18  19      Julio Dantas     41            Cuiaba                MT
19  20        Luca Lessa     37     Florianopolis                SC

           escolaridade  num_filhos    num_celulares
0     Superior Completo           2  (11) 91234-5678
1              Mestrado           1  (21) 92345-6789
2             Doutorado           0  (31) 93456-7890
3     Superior Completo           3  (41) 94567-8901
4   Superior Incompleto           2  (51) 95678-9012
5        Medio Completo           0  (61) 96789-0123
6     Superior Completo           1  (71) 97890-1234
7     Superior Completo           2  (81) 98901-2345
8     Superior Completo           0  (91) 99012-3456
9   Superior Incompleto           1  (11) 90123-4567
10       Medio Completo           0  (21) 91234-5678
11       Medio Completo           1  (31) 92345-6789
12            Doutorado           3  (41) 93456-7890
13  Superior Incompleto           0  (51) 94567-8901
14             Mestrado           2  (71) 96789-0123
15    Superior Completo           1  (81) 97890-1234
16       Medio Completo           2  (91) 98901-2345
17    Superior Completo           0  (11) 99012-3456
18       Medio Completo           3  (21) 90123-4567
19            Doutorado           2  (61) 95678-9012

3- Crie uma funçao que faça a busca por nome, com os seguintes requisitos:

* Receba como parâmetros um dataframe Pandas, o nome a ser consultado e uma flag para tipo de retorno, sendo ela json=True, para retornar um objeto json e json=False para retornar um dataframe Pandas.
* Para a opçao json=False, retorne um dataframe Pandas, com o resultado da consulta. Para a opçao json=True, retorne um objeto json, contento os seguintes campos:

![image.png]()

In [9]:
def buscar_por_nome(dataframe, nome, retornar_json=True):
    ''' Função que realiza a busca pele nome da pessoa cadastrada na base e retorna uma tabela ou json de acordo com o desejo de visualização do usuário'''

    resultados = dataframe[dataframe['nome'].str.contains(nome, case=False, na=False)]

    if retornar_json:
        registros = {}
        for idx, row in resultados.iterrows():
            registros[f'registro_{idx+1}'] = {
                'id': row['id'],
                'nome_1': row['nome'],
                'idade': row['idade']
            }

        resultado_json = {
            'registros_encontrados': len(resultados),
            'registros': registros
        }
        return json.dumps(resultado_json, indent=4)
    else:
        return resultados

if __name__ == "__main__":
    df = carregar_base_dados('base_pessoas.csv')

    if df is not None:
        while True:
            entrada = input("Digite o nome da pessoa a ser pesquisada (ou 'sair' para encerrar): ")
            if entrada.lower() == 'sair':
                break

            resultado_json = input("Deseja o resultado em formato JSON? (sim/nao): ").lower() == 'sim'
            resultado = buscar_por_nome(df, entrada, retornar_json=resultado_json)

            if resultado_json:
                print(resultado)
            else:
                print(tabulate(resultado, headers='keys', tablefmt='pretty'))
    else:
        print("Nao foi possivel carregar a base de dados.")

Digite o nome da pessoa a ser pesquisada (ou 'sair' para encerrar): Ana
Deseja o resultado em formato JSON? (sim/nao): não
+----+----+------------------+-------+-------------------+-------------------+-------------------+------------+-----------------+
|    | id |       nome       | idade | cidade_nascimento | estado_nascimento |   escolaridade    | num_filhos |  num_celulares  |
+----+----+------------------+-------+-------------------+-------------------+-------------------+------------+-----------------+
| 0  | 1  |    Ana Costa     |  30   |     Sao Paulo     |        SP         | Superior Completo |     2      | (11) 91234-5678 |
| 8  | 9  |    Ana Souza     |  26   |      Manaus       |        AM         | Superior Completo |     0      | (91) 99012-3456 |
| 16 | 17 | Ana Maria Cabral |  42   |     Teresina      |        PI         |  Medio Completo   |     2      | (91) 98901-2345 |
+----+----+------------------+-------+-------------------+-------------------+-------------------+------------+-----------------+
Digite o nome da pessoa a ser pesquisada (ou 'sair' para encerrar): Renata
Deseja o resultado em formato JSON? (sim/nao): sim
{
    "registros_encontrados": 3,
    "registros": {
        "registro_7": {
            "id": "7",
            "nome_1": "Renata Dias",
            "idade": 29
        },
        "registro_8": {
            "id": "8",
            "nome_1": "Renata Mello",
            "idade": 33
        },
        "registro_15": {
            "id": "15",
            "nome_1": "Renata Dantas",
            "idade": 36
        }
    }
}
Digite o nome da pessoa a ser pesquisada (ou 'sair' para encerrar): sair

4 - Crie uma funçao que realize a busca de registro por ID, com os seguintes requisitos:

* Receba como parâmetros um dataframe Pandas, o nome a ser consultado e uma flag para tipo de retorno, sendo ela json=True, para retornar um objeto json e json=False para retornar um dataframe Pandas.
* Para a opçao json=False, retorne um dataframe Pandas, com o resultado da consulta.
* Para a opçao json=True, retorne um objeto json, contento os seguintes campos:

![image.png]()

In [12]:
def buscar_por_id(dataframe, nome, retornar_json=True):
    '''Função que realiza a busca uma pessoa cadastrada com base no nome de entrada mas que retorna seu id e as informações pertinentes a esse usuário.
     Como retorno há a saída por Json e por tabela, ficando a critério do usuário escolher a melhor saída para seu consumo. '''
    resultados = dataframe[dataframe['nome'].str.contains(nome, case=False)]

    if retornar_json:
        if resultados.empty:
            return json.dumps({"erro": "Nome nao encontrado"}, indent=4)
        else:
            registros_json = []
            for i, row in resultados.iterrows():
                resultado_json = {
                    'id': row['id'],
                    'nome': row['nome'],
                    'idade': row['idade'],
                    'cidade': row['cidade_nascimento'],
                    'estado': row['estado_nascimento'],
                    'escolaridade': row['escolaridade'],
                    'num_filhos': row['num_filhos'],
                    'num_celulares': row['num_celulares']
                }
                registros_json.append(resultado_json)
            return json.dumps(registros_json, indent=4)
    else:
        return tabulate(resultados, headers='keys', tablefmt='pretty')

if __name__ == "__main__":
    df = pd.read_csv('base_pessoas.csv', dtype={'id': str})

    while True:
        entrada = input("Digite o nome da pessoa a ser pesquisada (ou 'sair' para encerrar): ")
        if entrada.lower() == 'sair':
            break

        resultado_json = input("Deseja o resultado em formato JSON? (sim/nao): ").lower() == 'sim'

        resultado = buscar_por_id(df, entrada, retornar_json=resultado_json)

        if resultado_json:
            print(resultado)
        else:
            if isinstance(resultado, pd.DataFrame):
                print(resultado.to_string(index=False))
            else:
                print(resultado)

Digite o nome da pessoa a ser pesquisada (ou 'sair' para encerrar): Renata
Deseja o resultado em formato JSON? (sim/nao): sim
[
    {
        "id": "7",
        "nome": "Renata Dias",
        "idade": 29,
        "cidade": "Salvador",
        "estado": "BA",
        "escolaridade": "Superior Completo",
        "num_filhos": 1,
        "num_celulares": "(71) 97890-1234"
    },
    {
        "id": "8",
        "nome": "Renata Mello",
        "idade": 33,
        "cidade": "Brasilia",
        "estado": "DF",
        "escolaridade": "Superior Completo",
        "num_filhos": 2,
        "num_celulares": "(81) 98901-2345"
    },
    {
        "id": "15",
        "nome": "Renata Dantas",
        "idade": 36,
        "cidade": "Sao Luis",
        "estado": "MA",
        "escolaridade": "Mestrado",
        "num_filhos": 2,
        "num_celulares": "(71) 96789-0123"
    }
]
Digite o nome da pessoa a ser pesquisada (ou 'sair' para encerrar): Ana
Deseja o resultado em formato JSON? (sim/nao): não
+----+----+------------------+-------+-------------------+-------------------+-------------------+------------+-----------------+
|    | id |       nome       | idade | cidade_nascimento | estado_nascimento |   escolaridade    | num_filhos |  num_celulares  |
+----+----+------------------+-------+-------------------+-------------------+-------------------+------------+-----------------+
| 0  | 1  |    Ana Costa     |  30   |     Sao Paulo     |        SP         | Superior Completo |     2      | (11) 91234-5678 |
| 8  | 9  |    Ana Souza     |  26   |      Manaus       |        AM         | Superior Completo |     0      | (91) 99012-3456 |
| 16 | 17 | Ana Maria Cabral |  42   |     Teresina      |        PI         |  Medio Completo   |     2      | (91) 98901-2345 |
+----+----+------------------+-------+-------------------+-------------------+-------------------+------------+-----------------+
Digite o nome da pessoa a ser pesquisada (ou 'sair' para encerrar): sair

5- Crie uma funçao que receba um dataframe Pandas e retorne a media de idade dos registros.

In [13]:
def calcular_media_idade(dataframe):
    ''' Função que realiza o cálculo da média de idade de todos os usuários cadastrados na base pessoas.'''
    if dataframe.empty:
        return 0  # Retorna 0 se o DataFrame estiver vazio
    else:
        # Calcula a média da coluna de idade
        media_idade = dataframe['idade'].mean()
        return media_idade

if __name__ == "__main__":
    df = pd.read_csv('base_pessoas.csv')
    media = calcular_media_idade(df)
    print("A média de idade dos registros é:", media)

A média de idade dos registros é: 33.0

6 - Crie uma funçao que receba um dataframe Pandas e retorne a media do número de filhos dos registros.

In [14]:
def calcular_media_num_filhos(dataframe):
    ''' Função que realiza o cálculo da média de filhos de todos os usuários cadastrados na base pessoas.'''
    if dataframe.empty:
        return 0
    else:
        media_num_filhos = dataframe['num_filhos'].astype(int).mean()
        return media_num_filhos

if __name__ == "__main__":
    df = pd.read_csv('base_pessoas.csv')
    media_num_filhos = calcular_media_num_filhos(df)
    print("A média do número de filhos dos registros é:", media_num_filhos)

A média do número de filhos dos registros é: 1.3

7 - Crie uma funçao que receba como parâmetros de entrada o nome de arquivo e um objeto json e faça o salvamento dos dados em um arquivo .json.

In [15]:
def csv_para_json(nome_arquivo_csv, objeto_json):
    ''' Função responsável pela criação de um arquivo .json com base no arquivo .csv de entrada.'''

    # Abre o arquivo CSV e lê seus dados
    with open(nome_arquivo_csv, 'r', newline='') as arquivo_csv:
        leitor_csv = csv.DictReader(arquivo_csv)
        dados = list(leitor_csv)

    # Salva os dados em um arquivo JSON
    nome_arquivo_json = nome_arquivo_csv.replace('.csv', '.json')
    with open(nome_arquivo_json, 'w') as arquivo_json:
        json.dump(dados, arquivo_json, indent=4)

    # Print de verificação
    print("JSON criado com sucesso!")
    print("\nEstrutura do JSON criado:")
    print(json.dumps(dados, indent=4))


if __name__ == "__main__":
    nome_arquivo_csv = input("Digite o nome do arquivo CSV: ")
    objeto_json = {}
    csv_para_json(nome_arquivo_csv, objeto_json)

Digite o nome do arquivo CSV: base_pessoas.csv
JSON criado com sucesso!

Estrutura do JSON criado:
[
    {
        "id": "1",
        "nome": "Ana Costa",
        "idade": "30",
        "cidade_nascimento": "Sao Paulo",
        "estado_nascimento": "SP",
        "escolaridade": "Superior Completo",
        "num_filhos": "2",
        "num_celulares": "(11) 91234-5678"
    },
    {
        "id": "2",
        "nome": "Carlos Souza",
        "idade": "45",
        "cidade_nascimento": "Rio de Janeiro",
        "estado_nascimento": "RJ",
        "escolaridade": "Mestrado",
        "num_filhos": "1",
        "num_celulares": "(21) 92345-6789"
    },
    {
        "id": "3",
        "nome": "Julia Lima",
        "idade": "28",
        "cidade_nascimento": "Curitiba",
        "estado_nascimento": "PR",
        "escolaridade": "Doutorado",
        "num_filhos": "0",
        "num_celulares": "(31) 93456-7890"
    },
    {
        "id": "4",
        "nome": "Lucas Pereira",
        "idade": "35",
        "cidade_nascimento": "Belo Horizonte",
        "estado_nascimento": "MG",
        "escolaridade": "Superior Completo",
        "num_filhos": "3",
        "num_celulares": "(41) 94567-8901"
    },
    {
        "id": "5",
        "nome": "Fernanda Almeida",
        "idade": "40",
        "cidade_nascimento": "Porto Alegre",
        "estado_nascimento": "RS",
        "escolaridade": "Superior Incompleto",
        "num_filhos": "2",
        "num_celulares": "(51) 95678-9012"
    },
    {
        "id": "6",
        "nome": "Bruno Fernandes",
        "idade": "25",
        "cidade_nascimento": "Fortaleza",
        "estado_nascimento": "CE",
        "escolaridade": "Medio Completo",
        "num_filhos": "0",
        "num_celulares": "(61) 96789-0123"
    },
    {
        "id": "7",
        "nome": "Renata Dias",
        "idade": "29",
        "cidade_nascimento": "Salvador",
        "estado_nascimento": "BA",
        "escolaridade": "Superior Completo",
        "num_filhos": "1",
        "num_celulares": "(71) 97890-1234"
    },
    {
        "id": "8",
        "nome": "Renata Mello",
        "idade": "33",
        "cidade_nascimento": "Brasilia",
        "estado_nascimento": "DF",
        "escolaridade": "Superior Completo",
        "num_filhos": "2",
        "num_celulares": "(81) 98901-2345"
    },
    {
        "id": "9",
        "nome": "Ana Souza",
        "idade": "26",
        "cidade_nascimento": "Manaus",
        "estado_nascimento": "AM",
        "escolaridade": "Superior Completo",
        "num_filhos": "0",
        "num_celulares": "(91) 99012-3456"
    },
    {
        "id": "10",
        "nome": "Carlos Bezerra",
        "idade": "32",
        "cidade_nascimento": "Recife",
        "estado_nascimento": "PE",
        "escolaridade": "Superior Incompleto",
        "num_filhos": "1",
        "num_celulares": "(11) 90123-4567"
    },
    {
        "id": "11",
        "nome": "Julia Lourez",
        "idade": "27",
        "cidade_nascimento": "Natal",
        "estado_nascimento": "RN",
        "escolaridade": "Medio Completo",
        "num_filhos": "0",
        "num_celulares": "(21) 91234-5678"
    },
    {
        "id": "12",
        "nome": "Luiz Pereira",
        "idade": "31",
        "cidade_nascimento": "Campo Grande",
        "estado_nascimento": "MS",
        "escolaridade": "Medio Completo",
        "num_filhos": "1",
        "num_celulares": "(31) 92345-6789"
    },
    {
        "id": "13",
        "nome": "Fernando Almeida",
        "idade": "38",
        "cidade_nascimento": "Belem",
        "estado_nascimento": "PA",
        "escolaridade": "Doutorado",
        "num_filhos": "3",
        "num_celulares": "(41) 93456-7890"
    },
    {
        "id": "14",
        "nome": "Bruno Guimaraes",
        "idade": "23",
        "cidade_nascimento": "Joao Pessoa",
        "estado_nascimento": "PB",
        "escolaridade": "Superior Incompleto",
        "num_filhos": "0",
        "num_celulares": "(51) 94567-8901"
    },
    {
        "id": "15",
        "nome": "Renata Dantas",
        "idade": "36",
        "cidade_nascimento": "Sao Luis",
        "estado_nascimento": "MA",
        "escolaridade": "Mestrado",
        "num_filhos": "2",
        "num_celulares": "(71) 96789-0123"
    },
    {
        "id": "16",
        "nome": "Renato Mello",
        "idade": "34",
        "cidade_nascimento": "Maceio",
        "estado_nascimento": "AL",
        "escolaridade": "Superior Completo",
        "num_filhos": "1",
        "num_celulares": "(81) 97890-1234"
    },
    {
        "id": "17",
        "nome": "Ana Maria Cabral",
        "idade": "42",
        "cidade_nascimento": "Teresina",
        "estado_nascimento": "PI",
        "escolaridade": "Medio Completo",
        "num_filhos": "2",
        "num_celulares": "(91) 98901-2345"
    },
    {
        "id": "18",
        "nome": "Carlotta Luz",
        "idade": "28",
        "cidade_nascimento": "Aracaju",
        "estado_nascimento": "SE",
        "escolaridade": "Superior Completo",
        "num_filhos": "0",
        "num_celulares": "(11) 99012-3456"
    },
    {
        "id": "19",
        "nome": "Julio Dantas",
        "idade": "41",
        "cidade_nascimento": "Cuiaba",
        "estado_nascimento": "MT",
        "escolaridade": "Medio Completo",
        "num_filhos": "3",
        "num_celulares": "(21) 90123-4567"
    },
    {
        "id": "20",
        "nome": "Luca Lessa",
        "idade": "37",
        "cidade_nascimento": "Florianopolis",
        "estado_nascimento": "SC",
        "escolaridade": "Doutorado",
        "num_filhos": "2",
        "num_celulares": "(61) 95678-9012"
    }
]

8 - Escreva um script que realize as seguintes operações:

* Realize uma consulta por um nome salvo em um dataframe pandas.
* Exiba a media de idade para o dataframe recebido.
* Exiba a media do número de filhos para o dataframe recebido.

In [16]:
# Funções que tem como objetivo retornar a média de idade e número de filhos com base no nome de entrada, olhando para a base de dados pessoas.

def buscar_por_nome(dataframe, nome):
    resultados = dataframe[dataframe['nome'].str.contains(nome, case=False, na=False)]
    return resultados

def calcular_media_idade(dataframe):
    if dataframe.empty:
        return 0  # Retorna 0 se o DataFrame estiver vazio
    else:
        # Calcula a média da coluna de idade
        media_idade = round(dataframe['idade'].mean(), 2)
        return media_idade

def calcular_media_num_filhos(dataframe):
    if dataframe.empty:
        return 0
    else:
        media_num_filhos = round(dataframe['num_filhos'].astype(int).mean(), 2)
        return media_num_filhos

def consultar_e_calcular_media(dataframe, nome):
    resultados = buscar_por_nome(dataframe, nome)
    media_idade = calcular_media_idade(resultados)
    media_num_filhos = calcular_media_num_filhos(resultados)
    return media_idade, media_num_filhos

if __name__ == "__main__":
    df = pd.read_csv('base_pessoas.csv')

    if not df.empty:
        while True:
            entrada = input("Digite o nome da pessoa a ser pesquisada (ou 'sair' para encerrar): ")
            if entrada.lower() == 'sair':
                break

            media_idade, media_num_filhos = consultar_e_calcular_media(df, entrada)
            print(f"\nA média de idade para '{entrada}' é: {media_idade}")
            print(f"A média do número de filhos para '{entrada}' é: {media_num_filhos}")
    else:
        print("\nNão foi possível carregar a base de dados.")

Digite o nome da pessoa a ser pesquisada (ou 'sair' para encerrar): Renata

A média de idade para 'Renata' é: 32.67
A média do número de filhos para 'Renata' é: 1.67
Digite o nome da pessoa a ser pesquisada (ou 'sair' para encerrar): sair

9 - Escreva um script que realize as seguintes operações:

* Realize uma consulta por um nome salvo em um objeto json.
* Realize o salvamento do objeto json em um arquivo .json.

In [17]:
# Funções com o objetivo de criar arquivos .json com base no nome fornecido com entrada, olhando os dados cadastrados na tabela pessoas

def buscar_por_id(dataframe, nome, retornar_json=True):
    resultados = dataframe[dataframe['nome'].str.contains(nome, case=False)]

    if retornar_json:
        if resultados.empty:
            return json.dumps({"erro": "Nome nao encontrado"}, indent=4)
        else:
            registros_json = []
            for i, row in resultados.iterrows():
                resultado_json = {
                    'id': row['id'],
                    'nome': row['nome'],
                    'idade': row['idade'],
                    'cidade': row['cidade_nascimento'],
                    'estado': row['estado_nascimento'],
                    'escolaridade': row['escolaridade'],
                    'num_filhos': row['num_filhos'],
                    'num_celulares': row['num_celulares']
                }
                registros_json.append(resultado_json)
            return json.dumps(registros_json, indent=4)
    else:
        return resultados.to_json(orient='records', indent=4)

def salvar_json(objeto_json, nome_arquivo):
    with open(nome_arquivo, 'w') as arquivo_json:
        json.dump(objeto_json, arquivo_json, indent=4)

if __name__ == "__main__":
    df = pd.read_csv('base_pessoas.csv', dtype={'id': str})

    while True:
        entrada = input("\nDigite o nome da pessoa a ser pesquisada (ou 'sair' para encerrar): ")
        if entrada.lower() == 'sair':
            break

        resultado_json = input("Deseja o resultado em formato JSON? (sim): ").lower() == 'sim'

        resultado = buscar_por_id(df, entrada, retornar_json=resultado_json)

        if resultado_json:
            print(resultado)
            nome_arquivo = input("\n\nDigite o nome do arquivo para salvar o JSON (digite também o .json): ")
            salvar_json(json.loads(resultado), nome_arquivo)
            print(f"JSON salvo como '{nome_arquivo}'")
        else:
            if isinstance(resultado, pd.DataFrame):
                print(resultado.to_string(index=False))
            else:
                print(resultado)

Digite o nome da pessoa a ser pesquisada (ou 'sair' para encerrar): Renata
Deseja o resultado em formato JSON? (sim): sim
[
    {
        "id": "7",
        "nome": "Renata Dias",
        "idade": 29,
        "cidade": "Salvador",
        "estado": "BA",
        "escolaridade": "Superior Completo",
        "num_filhos": 1,
        "num_celulares": "(71) 97890-1234"
    },
    {
        "id": "8",
        "nome": "Renata Mello",
        "idade": 33,
        "cidade": "Brasilia",
        "estado": "DF",
        "escolaridade": "Superior Completo",
        "num_filhos": 2,
        "num_celulares": "(81) 98901-2345"
    },
    {
        "id": "15",
        "nome": "Renata Dantas",
        "idade": 36,
        "cidade": "Sao Luis",
        "estado": "MA",
        "escolaridade": "Mestrado",
        "num_filhos": 2,
        "num_celulares": "(71) 96789-0123"
    }
]


Digite o nome do arquivo para salvar o JSON (digite também o .json): renata.json
JSON salvo como 'renata.json'

Digite o nome da pessoa a ser pesquisada (ou 'sair' para encerrar): sair

# Realizando com o SQL no Python

In [ ]:
# --- CRIAÇÃO DA TABELA DE DADOS DE PESSOAS ---


# Conexão com o banco de dados SQLite
conn = sqlite3.connect('dados_empresa.db')
cursor = conn.cursor()

# Truncate na tabela para conseguir recriar o código
cursor.execute('''DELETE FROM PESSOAS''')

# Criação da tabela
cursor.execute('''CREATE TABLE IF NOT EXISTS PESSOAS (
                    id INTEGER PRIMARY KEY,
                    nome VARCHAR(255),
                    idade INTEGER,
                    cidade_nascimento VARCHAR(255),
                    estado_nascimento VARCHAR(2),
                    escolaridade VARCHAR(255),
                    num_filhos INTEGER,
                    num_celulares VARCHAR(20)
                )''')

# Leitura dos dados base_pessoas.csv e inserção dos dados na tabela
with open('base_pessoas.csv', 'r', newline='', encoding='utf-8') as file:
    csv_reader = csv.DictReader(file)
    for row in csv_reader:
        cursor.execute('INSERT INTO PESSOAS (id, nome, idade, cidade_nascimento, estado_nascimento, escolaridade, num_filhos, num_celulares) VALUES (:id, :nome, :idade, :cidade_nascimento, :estado_nascimento, :escolaridade, :num_filhos, :num_celulares)', row)


conn.commit()
conn.close()

print("Tabela 'PESSOAS' criada e dados inseridos com sucesso.")

Tabela 'PESSOAS' criada e dados inseridos com sucesso.

Retorne a media de idade dos registros.

In [ ]:
conn = sqlite3.connect('dados_empresa.db')
cursor = conn.cursor()

# Query
cursor.execute('SELECT AVG(idade) FROM PESSOAS')

# Recuperação do resultado da query
media_idade = cursor.fetchone()[0]
conn.close()

print("A média de idade dos registros é:", media_idade)

A média de idade dos registros é: 33.0

Retorne a media do número de filhos dos registros.

In [ ]:
conn = sqlite3.connect('dados_empresa.db')
cursor = conn.cursor()

# Query
cursor.execute('SELECT AVG(num_filhos) FROM PESSOAS')


media_num_filhos = cursor.fetchone()[0]
conn.close()

print("A média do número de filhos dos registros é:", media_num_filhos)

A média do número de filhos dos registros é: 1.3